<!doctype html>
<html>

<head>
  <meta charSet="utf-8" />
  <title> </title>
  <link rel="icon" href="<%= context.config.publicPath +'favicon.ico'%>" type="image/x-icon" />
  <meta name="flexible" content="initial-dpr=1,maximum-dpr=1,user-scalable=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,viewport-fit=cover" />
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"> -->
</head>

<body>
  <div id="root"></div>
<!-- 
  <script src="<%= context.config.publicPath +'flexible.js'%>"></script>
  <script src="<%= context.config.publicPath +'wx.js'%>"></script> -->
  <!-- <script src="https://pujiang-mutual.oss-cn-beijing.aliyuncs.com/front/BNPL/fullpage.min.js"></script> -->
</body>

</html>