@tablet: 769;
@desktop: 1024;
@widescreen: 1216;
@fullhd: 1408;

.s_mobile(@content) {
  @media screen and (max-width: @tablet - 1px) {
    @content();
  }
}

// <= 1023
.s_tablet(@content) {
  @media screen and (min-width: @tablet + 0px) {
    @content();
  }
}
// 在 769px 和 1023px 之间
.s_tablet-only(@content) {
  @media screen and (min-width: @tablet + 0px) and (max-width: @desktop - 1px) {
    @content();
  }
}


// <= 1024
.s_desktop(@content) {
  @media screen and (min-width: @desktop + 0px) {
    @content();
  }
}
// 在 1024px 和 1215px 之间
.s_desktop_only(@content) {
  @media screen and (min-width: @desktop + 0px) and (max-width: @widescreen - 1px) {
    @content();
  }
}


// <= 1216
.s_widescreen(@content) {
  @media screen and (min-width: @widescreen + 0px) {
    @content();
  }
}
// 在 1216px 和 1407px 之间
.s_widescreen_only(@content) {
  @media screen and (min-width: @widescreen + 0px) and (max-width: @fullhd - 1px) {
    @content();
  }
}


// <= 1408
.s_fullhd(@content) {
  @media screen and (max-width: @fullhd - 1px) {
    @content();
  }
}

